*{
    box-sizing: border-box;
    text-decoration: none !important ;
    margin: 0;
    padding: 0;
    color: black ;

}

#baniere p {
    width: auto;
    height: 50px;
    text-align: center;
}

#baniere  {
    
    background-color:#FFF455;
}


main{
    height: 100vh;
}
.paie{
    height: 30px;
    width: auto;
   
}
 div p a i{
    width: auto;
    height: 150px !important;
}
#logo{
    width: 100px;
    height: auto;
}
footer{
    background-color: #FFF455;
}
.navbar {
    background-color:#FFF455;
}
